.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border: 1px solid #ccc;
    gap: 1.1rem;
}
h1{
    font-size: 3rem;
    margin-bottom: 2rem;
}

