*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

body{
    background-color: #f5f5f5;
    color: #333;
}

.btn{
    padding: 0.8rem 1.6rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    transform: translateY(0);
    box-shadow: 0px 6px 0px rgba(0,0,0,0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
    width: 200px;
    height: 45px;
}
.btn:hover{
    transform: translateY(2px);
    box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
}
.btn:active{
    transform: translateY(4px);
    box-shadow: 0px 2px 0px rgba(0,0,0,0.2);
}
.btn-active{
    transform: translateY(4px);
    box-shadow: 0px 2px 0px rgba(0,0,0,0.2);
    background-color: #f0f0f0;
}
.btn-active:hover{
    transform: translateY(4px);
    box-shadow: 0px 2px 0px rgba(0,0,0,0.2);
}

.mg-b-m{
    margin-bottom: 2.2rem;
}
.mg-t-m{
    margin-top: 2.2rem;
}